<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-feet=no">

    <link rel="icon" href="../../resources/static/img/favicon.ico"
          th:href="@{/resources/static/img/favicon.ico}">
    <link rel="stylesheet" href="/resources/static/css/bootstrap.min.css"
          th:href="@{/resources/static/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet" href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <title>Edit customer</title>
</head>
<body>
<div th:insert="navbars :: new_product_card_navbar"></div>
<br>
<div class="row">
    <div class="col-md-1">
    </div>

    <div class="col-md-11">
        <div><br>
            <h3>
        <span class="badge bg-light rounded-pill" style="color:#5e5ec9;">
            <i class="bi bi-cart-plus"></i> Edit the customer details
        </span>
            </h3>
        </div>

        <div class="container-fluid p-3">
            <div class="row">
                <div class="col-2">
                    <button type="button" class="btn btn-secondary">
                        Customer Id: <span class="badge bg-light  text-dark" th:text="${customer_id}"></span>
                    </button>
                </div>
            </div>
        </div>

        <form th:if="${principal_role} eq 'admin'" th:method="PATCH" th:action="@{'/admins/' + ${admin_id} + '/customers/' + ${customer_id} + '/edit'}"
              th:object="${customer}">
            <input type="hidden" name="_method" value="PATCH">

            <div class="form-group">

                <label for="login" class="col-form-label">Login: </label>
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <input type="text" th:field="*{login}" id="login" class="form-control"
                               aria-describedby="loginHelp" readonly="readonly">
                    </div>
                </div>

                <label for="password" class="col-form-label">Password: </label>
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <input type="password" th:field="*{password}" id="password" class="form-control"
                               aria-describedby="passwordHelp">
                    </div>
                    <div class="col-8">
                  <span id="passwordHelp" class="form-text">
                    Must be 1-10 characters long.
                  </span>
                    </div>
                    <div class="alert alert-danger" role="alert" style="color:red; max-width: 30rem;"
                         th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                    </div>
                </div>

                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="role" class="col-form-label">Role: </label>
                        <select class="form-select" name="role" id="role" aria-label="">
                            <option selected th:text="${customer.getRole()}">Open this select menu</option>
                            <option th:each="roleOpt : ${T(by.brest.karas.model.Role).values()}"
                                    th:value="${roleOpt}" th:text="${roleOpt}"></option>
                        </select>
                    </div>
                </div>

                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="isActual" class="col-form-label">Status: </label>
                        <select th:field="*{isActual}" class="form-select" name="isActual" id="isActual" aria-label="">
                            <option th:value="true" th:text="active"></option>
                            <option th:value="false" th:text="disabled"></option>
                        </select>
                    </div>
                </div>

            </div>
<br>
<br>
            <div class="container-fluid p-3">
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-outline-dark" style="float:left; margin-left:20px;">
                            Update
                        </button>
                        <a th:href="@{'/admins/' + ${admin_id} + '/customers'}">
                            <input class="btn btn-outline-dark" type="button" style="float:left; margin-left:20px;"
                                   value="Cancel"/>
                        </a>
                    </div>
                </div>
            </div>

        </form>

        <form th:if="${principal_role} eq 'customer'" th:method="PATCH" th:action="@{'/customers/' + ${customer_id} + '/edit'}" th:object="${customer}">
            <input type="hidden" name="_method" value="PATCH">

            <div class="form-group">

                <label for="login" class="col-form-label">Login: </label>
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <input type="text" th:field="*{login}" id="customerLogin" class="form-control"
                               aria-describedby="customerLoginHelp" readonly="readonly">
                    </div>
                </div>

                <label for="password" class="col-form-label">Password: </label>
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <input type="password" th:field="*{password}" id="customerPassword" class="form-control"
                               aria-describedby="customerPasswordHelp">
                    </div>
                    <div class="col-8">
                  <span id="customerPasswordHelp" class="form-text">
                    Must be 1-10 characters long.
                  </span>
                    </div>
                    <div class="alert alert-danger" role="alert" style="color:red; max-width: 30rem;"
                         th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                    </div>
                </div>

            </div>
            <br>
            <br>
            <div class="container-fluid p-3">
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-outline-dark" style="float:left; margin-left:20px;">
                            Update
                        </button>
                        <a th:href="@{'/customers/' + ${customer_id} + '/products'}">
                            <input class="btn btn-outline-dark" type="button" style="float:left; margin-left:20px;"
                                   value="Cancel"/>
                        </a>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>

<footer>
    <br>
    <p class="text-center">&copy; 2022</p>
</footer>

<script src="../../resources/static/js/bootstrap.bundle.min.js"
        th:src="@{/resources/static/js/bootstrap.bundle.min.js}">
</script>
</body>
</html>
