<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-feet=no">

    <link rel="icon" href="../../resources/static/img/favicon.ico"
          th:href="@{/resources/static/img/favicon.ico}">
    <link rel="stylesheet" href="/resources/static/css/bootstrap.min.css"
          th:href="@{/resources/static/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet" href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <title>Login</title>
</head>

<body>
<div class="card position-absolute top-0 start-50 translate-middle-x border-dark mb-4"
     style="width: 27rem; margin-top:100px;">
    <div class="card-header">
        <img th:src="@{/resources/static/img/onlinestore.svg}" alt="" width="30" height="24"
             style="float:left;"/>
        Please, enter your login and password to proceed
    </div>

    <div class="card-body">
        <form th:method="POST" th:action="@{/login}">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="username" class="col-form-label"></label>
                </div>
                <div class="col-auto">
                    <input type="text" name="username" id="username" class="form-control"
                           aria-describedby="loginHelpInline"
                           placeholder="Login">
                </div>
                <div class="col-auto">
                    <span id="loginHelpInline" class="form-text">
                        Must be 8-20 characters long.
                    </span>
                </div>
            </div>
            <br>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="password" class="col-form-label"></label>
                </div>
                <div class="col-auto">
                    <input type="password" name="password" id="password" class="form-control"
                           aria-describedby="passwordHelpInline" placeholder="Password">
                </div>
                <div class="col-auto">
                    <span id="passwordHelpInline" class="form-text">
                        Must be 8-20 characters long.
                    </span>
                </div>
            </div>
            <br>
            <div class="alert alert-danger" role="alert" th:if="${error}">
                Invalid credentials!
            </div>
            <button type="submit" class="btn btn-outline-dark" style="margin-left:10px;">Log in</button>
            <a th:href="@{/home/products}">
                <input class="btn btn-outline-dark" type="button" style="margin-left:20px;" value="Cancel"/>
            </a>
        </form>
    </div>
</div>

<script src="../../resources/static/js/bootstrap.bundle.min.js"
        th:src="@{/resources/static/js/bootstrap.bundle.min.js}">
</script>

</body>
</html>