<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<body>

<div th:fragment="cart_navbar">
    <nav class="navbar navbar-expand-sm navbar-light bg-light p-1">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContentCard">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="navbar-brand">
                        <img src="../../resources/static/img/onlinestore.svg"
                             th:src="@{/resources/static/img/onlinestore.svg}"
                             alt="" width="45" height="36" style="float:left; margin-right:10px;"/>
                    </li>

                    <li class="nav-link" style="float:left; margin-right:25px;">
                        <a type="button" class="btn btn-light btn-sm rounded-pill"
                           style="background-color: #e1f5ec; cursor: default;">
                            <span class="d-none d-md-inline fs-5 fw-weight-bold">
                                <i class="bi bi-person" style="font-size: 20px;"></i> <span th:text="${login}"
                                                                                            style="font-size: 20px;"></span>
                            </span>
                        </a>
                    </li>

                    <li class="nav-link">

                        <a th:if="${principal_role} eq 'admin'"
                           type="button" class="btn-sm btn-outline-secondary text-decoration-none rounded-pill"
                           th:href="@{'/admins/' + ${admin_id} + '/products'}">
                            <span class="d-none d-md-inline fs-5 fw-weight-bold">
                                <i class="bi bi-house"></i> Home
                            </span>
                        </a>

                        <a th:if="${principal_role} eq 'customer'" type="button"
                           class="btn-sm btn-outline-secondary text-decoration-none rounded-pill"
                           th:href="@{'/customers/' + ${customer_id} + '/products'}">
                                    <span class="d-none d-md-inline fs-5 fw-weight-bold">
                                        <i class="bi bi-house"></i> Home
                                    </span>
                        </a>

                    </li>

                    <li th:if="${principal_role} eq 'admin'" class="nav-link">
                        <a type="button" class="btn-sm btn-outline-secondary text-decoration-none rounded-pill"
                           th:href="@{'/admins/' + ${admin_id} + '/customers'}">
                            <span class="d-none d-md-inline fs-5 fw-weight-bold">
                                <i class="bi bi-people"></i> Customers
                            </span>
                        </a>
                    </li>

                    <li th:if="${principal_role} eq 'admin'" class="nav-link">
                        <a type="button" class="btn-sm btn-outline-secondary text-decoration-none rounded-pill"
                           th:href="@{'/admins/' + ${admin_id} + '/customers/' + ${admin_id} + '/edit'}">
                            <span class="d-none d-md-inline fs-5 fw-weight-bold">
                                <i class="bi bi-pencil"></i> Edit account
                            </span>
                        </a>
                    </li>

                    <li th:if="${principal_role} eq 'customer'" class="nav-link">
                        <a type="button" class="btn-sm btn-outline-secondary text-decoration-none rounded-pill"
                           th:href="@{'/customers/' + ${customer_id} + '/edit'}">
                            <span class="d-none d-md-inline fs-5 fw-weight-bold">
                                <i class="bi bi-pencil"></i> Edit account
                            </span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a id="logout_link" type="button"
                           class="btn-sm btn-outline-secondary text-decoration-none rounded-pill">
                            <span class="d-none d-md-inline fs-5 fw-weight-bold"
                                  onclick="document.getElementById('logout-form').submit();">
                                <i class="bi bi-box-arrow-right"></i> Logout
                            </span>
                        </a>
                    </li>
                    <form id="logout-form" style="display:none" th:action="@{/logout}" method="POST"></form>

                </ul>

                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                           name="filter" size="40">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>

            </div>
        </div>
    </nav>
</div>

<div th:fragment="new_product_card_navbar">

    <nav class="navbar navbar-expand-sm navbar-light bg-light p-1">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="navbar-brand">
                        <img src="../../resources/static/img/onlinestore.svg"
                             th:src="@{/resources/static/img/onlinestore.svg}"
                             alt="" width="45" height="36" style="float:left; margin-right:10px;"/>
                    </li>

                    <div th:if="!(${principal_role} eq 'guest')">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                            <li class="nav-link" style="float:left; margin-right:25px;">
                                <a type="button" class="btn btn-light btn-sm rounded-pill"
                                   style="background-color: #e1f5ec; cursor: default;">
                            <span class="d-none d-md-inline fs-5 fw-weight-bold">
                                <i class="bi bi-person" style="font-size: 20px;"></i> <span th:text="${login}"
                                                                                            style="font-size: 20px;"></span>
                            </span>
                                </a>
                            </li>

                            <li class="nav-link">

                                <a th:if="${principal_role} eq 'admin'"
                                   type="button" class="btn-sm btn-outline-secondary text-decoration-none rounded-pill"
                                   th:href="@{'/admins/' + ${admin_id} + '/products'}">
                            <span class="d-none d-md-inline fs-5 fw-weight-bold">
                                <i class="bi bi-house"></i> Home
                            </span>
                                </a>

                                <a th:if="${principal_role} eq 'customer'" type="button"
                                   class="btn-sm btn-outline-secondary text-decoration-none rounded-pill"
                                   th:href="@{'/customers/' + ${customer_id} + '/products'}">
                                    <span class="d-none d-md-inline fs-5 fw-weight-bold">
                                        <i class="bi bi-house"></i> Home
                                    </span>
                                </a>

                            </li>

                            <li th:if="${principal_role} eq 'admin'" class="nav-link">
                                <a type="button" class="btn-sm btn-outline-secondary text-decoration-none rounded-pill"
                                   th:href="@{'/admins/' + ${admin_id} + '/cart/products'}">
                            <span class="d-none d-md-inline fs-5 fw-weight-bold">
                               <i class="bi bi-cart4"></i> Cart
                            </span>
                                </a>
                            </li>

                            <li th:if="${principal_role} eq 'customer'" class="nav-link">
                                <a type="button" class="btn-sm btn-outline-secondary text-decoration-none rounded-pill"
                                   th:href="@{'/customers/' + ${customer_id} + '/cart/products'}">
                            <span class="d-none d-md-inline fs-5 fw-weight-bold">
                               <i class="bi bi-cart4"></i> Cart
                            </span>
                                </a>
                            </li>

                            <li th:if="${principal_role} eq 'admin'" class="nav-link">
                                <a type="button" class="btn-sm btn-outline-secondary text-decoration-none rounded-pill"
                                   th:href="@{'/admins/' + ${admin_id} + '/customers'}">
                            <span class="d-none d-md-inline fs-5 fw-weight-bold">
                                <i class="bi bi-people"></i> Customers
                            </span>
                                </a>
                            </li>

                            <li th:if="${principal_role} eq 'admin'" class="nav-link">
                                <a type="button" class="btn-sm btn-outline-secondary text-decoration-none rounded-pill"
                                   th:href="@{'/admins/' + ${admin_id} + '/customers/' + ${admin_id} + '/edit'}">
                            <span class="d-none d-md-inline fs-5 fw-weight-bold">
                                <i class="bi bi-pencil"></i> Edit account
                            </span>
                                </a>
                            </li>

                            <li th:if="${principal_role} eq 'customer'" class="nav-link">
                                <a type="button" class="btn-sm btn-outline-secondary text-decoration-none rounded-pill"
                                   th:href="@{'/customers/' + ${customer_id} + '/edit'}">
                            <span class="d-none d-md-inline fs-5 fw-weight-bold">
                                <i class="bi bi-pencil"></i> Edit account
                            </span>
                                </a>
                            </li>

                            <li class="nav-link">
                                <a id="logout_link_card_new" type="button"
                                   class="btn-sm btn-outline-secondary text-decoration-none rounded-pill">
                            <span class="d-none d-md-inline fs-5 fw-weight-bold"
                                  onclick="document.getElementById('logout-form-card-new').submit();">
                                <i class="bi bi-box-arrow-right"></i> Logout
                            </span>
                                </a>
                            </li>
                            <form id="logout-form-card-new" style="display:none" th:action="@{/logout}"
                                  method="POST"></form>

                        </ul>
                    </div>

                </ul>

            </div>
        </div>
    </nav>
</div>

<div th:fragment="customers_navbar">
    <nav class="navbar navbar-expand-sm navbar-light bg-light p-1">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContentCustomers">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="navbar-brand">
                        <img src="../../resources/static/img/onlinestore.svg"
                             th:src="@{/resources/static/img/onlinestore.svg}"
                             alt="" width="45" height="36" style="float:left; margin-right:10px;"/>
                    </li>

                    <li class="nav-link" style="float:left; margin-right:25px;">
                        <a type="button" class="btn btn-light btn-sm rounded-pill"
                           style="background-color: #e1f5ec; cursor: default;">
                            <span class="d-none d-md-inline fs-5 fw-weight-bold">
                                <i class="bi bi-person" style="font-size: 20px;"></i> <span th:text="${login}"
                                                                                            style="font-size: 20px;"></span>
                            </span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a type="button" class="btn-sm btn-outline-secondary text-decoration-none rounded-pill"
                           th:href="@{'/admins/' + ${admin_id} + '/products'}">
                            <span class="d-none d-md-inline fs-5 fw-weight-bold">
                                <i class="bi bi-house"></i> Home
                            </span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a type="button" class="btn-sm btn-outline-secondary text-decoration-none rounded-pill"
                           th:href="@{'/admins/' + ${admin_id} + '/cart/products'}">
                            <span class="d-none d-md-inline fs-5 fw-weight-bold">
                               <i class="bi bi-cart4"></i> Cart
                            </span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a type="button" class="btn-sm btn-outline-secondary text-decoration-none rounded-pill"
                           th:href="@{'/admins/' + ${admin_id} + '/customers/' + ${admin_id} + '/edit'}">
                            <span class="d-none d-md-inline fs-5 fw-weight-bold">
                                <i class="bi bi-pencil"></i> Edit account
                            </span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a id="logout_link_customers" type="button"
                           class="btn-sm btn-outline-secondary text-decoration-none rounded-pill">
                            <span class="d-none d-md-inline fs-5 fw-weight-bold"
                                  onclick="document.getElementById('logout-form-customers').submit();">
                                <i class="bi bi-box-arrow-right"></i> Logout
                            </span>
                        </a>
                    </li>
                    <form id="logout-form-customers" style="display:none" th:action="@{/logout}" method="POST"></form>

                </ul>

                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                           name="filter" size="40">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>

            </div>
        </div>
    </nav>
</div>

<div th:fragment="new_customer_navbar">
    <nav class="navbar navbar-expand-sm navbar-light bg-light p-1">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContentNewCustomer">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="navbar-brand">
                        <img src="../../resources/static/img/onlinestore.svg"
                             th:src="@{/resources/static/img/onlinestore.svg}"
                             alt="" width="45" height="36" style="float:left; margin-right:10px;"/>
                    </li>

                    <div th:if="${principal_role} eq 'guest'">

                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                            <li class="nav-link">

                                <a type="button" class="btn-sm btn-outline-secondary text-decoration-none rounded-pill"
                                   th:href="@{/products}">
                            <span class="d-none d-md-inline fs-5 fw-weight-bold">
                                <i class="bi bi-house"></i> Home
                            </span>
                                </a>

                                <a type="button" class="btn-sm btn-outline-secondary text-decoration-none rounded-pill"
                                   th:href="@{/auth}">
                            <span class="d-none d-md-inline fs-5 fw-weight-bold">
                               <i class="bi bi-box-arrow-in-right"></i> Log in
                            </span>
                                </a>
                            </li>

                            <li class="nav-link">
                                <a type="button" class="btn-sm btn-outline-secondary text-decoration-none rounded-pill"
                                   th:href="@{/new_customer}">
                            <span class="d-none d-md-inline fs-5 fw-weight-bold">
                                <i class="bi bi-person-plus"></i> Register
                            </span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </ul>
            </div>

            </ul>

        </div>
    </nav>
</div>
</body>
</html>