<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-feet=no">

    <link rel="icon" href="../../resources/static/img/favicon.ico"
          th:href="@{/resources/static/img/favicon.ico}">
    <link rel="stylesheet" href="/resources/static/css/bootstrap.min.css"
          th:href="@{/resources/static/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet" href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <title>Products</title>
</head>

<body>
<nav class="navbar navbar-expand-sm navbar-light bg-light p-1">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="navbar-brand">
                    <img src="../../resources/static/img/onlinestore.svg"
                         th:src="@{/resources/static/img/onlinestore.svg}" alt="" width="45" height="36" style="float:left; margin-right:20px;"/>
                </li>

                <li class="nav-link">
                    <a type="button" class="btn-sm btn-outline-secondary text-decoration-none rounded-pill"
                       th:href="@{/home/products}">
                            <span class="d-none d-md-inline fs-5 fw-weight-bold">
                                <i class="bi bi-house"></i> Home
                            </span>
                    </a>
                </li>

                <li class="nav-link">
                    <a type="button" class="btn-sm btn-outline-secondary text-decoration-none rounded-pill"
                       th:href="@{/home/users/new}">
                            <span class="d-none d-md-inline fs-5 fw-weight-bold">
                                <i class="bi bi-person-plus"></i> Register
                            </span>
                    </a>
                </li>

                <li class="nav-link">
                    <a type="button" class="btn-sm btn-outline-secondary text-decoration-none rounded-pill"
                       th:href="@{/home/auth}">
                            <span class="d-none d-md-inline fs-5 fw-weight-bold">
                               <i class="bi bi-box-arrow-in-right"></i> Log in
                            </span>
                    </a>
                </li>

            </ul>

            <a type="button" class="btn-sm btn-outline-secondary text-decoration-none rounded-pill"
               th:href="@{'/home/products?filter=&view=list'}" style="margin-right:10px;">
                            <span class="d-none d-md-inline fs-5 fw-weight-bold">
                                <i class="bi bi-list"></i>List
                            </span>
            </a>

            <a type="button" class="btn-sm btn-outline-secondary text-decoration-none rounded-pill"
               th:href="@{'/home/products?filter=&view=grid'}" style="margin-right:30px;">
                            <span class="d-none d-md-inline fs-5 fw-weight-bold">
                                <i class="bi bi-grid-3x3-gap"></i> Grid
                            </span>
            </a>


            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                       name="filter" size="40">
                <button class="btn btn-outline-dark" type="submit">Search</button>
            </form>

        </div>
    </div>
</nav>

</br>

<a href="/logout" onclick="document.getElementById('cart_logout_form').submit();">Logout</a>
<form id="cart_logout_form" style="display:none" th:action="@{/logout}" method="POST"></form>

</br>
<th:block th:each="product : ${products}">
    <tr>
        <div class="card mb-3 mt-3 mx-3" style="height: 80px; max-width: 1080px">
            <div class="row g-0  justify-content-center align-items-center">
                <div class="col-md-1">
                    <img src="../../resources/static/img/onlinestore_add_photo.jpg"
                         th:src="@{/resources/static/img/onlinestore_add_photo.jpg}"
                         class="img-fluid align-self-center" style="width: 75px;" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-2">
                                    <p class="card-text" th:text="'Price: ' + ${product.getPrice()}">Price</p>
                                </div>
                                <div class="col-6">
                                    <p class="card-text">
                                            <span class="d-none d-md-inline fs-5 fw-weight-bold">
                                            <a class="card-text btn-sm btn-outline-secondary "
                                               th:text="${product.getShortDescription()}"
                                               th:href="@{/home/products/{id}(id=${product.getProductId()})}"></a>
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </tr>
</th:block>

<!--<div th:insert="fragments :: home_navbar"></div>-->

<!--    <div th:if="${view} eq ''">-->
<!--        <div th:insert="product_index_fragments :: product_index_list"></div>-->
<!--    </div>-->

<!--    <div th:if="${view} eq 'list'">-->
<!--        <div th:insert="product_index_fragments :: product_index_list"></div>-->
<!--    </div>-->

<!--    <div th:if="${view} eq 'grid'">-->
<!--        <div th:insert="product_index_fragments :: product_index_grid"></div>-->
<!--    </div>-->

<script src="../../resources/static/js/bootstrap.bundle.min.js"
        th:src="@{/resources/static/js/bootstrap.bundle.min.js}">
</script>

</body>
</html>