<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<style>
    .menu {
        background: #004f8b; /* Цвет фона */
        color: white; /* Цвет текста */
        padding: 2px; /* Поля вокруг текста */
        margin-top: 5px; /* Отступ сверху */
        margin-bottom: 5px; /* Отступ снизу */
        display: inline-block;
    }

</style>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-feet=no">

    <link rel="icon" href="../../resources/static/img/favicon.ico"
          th:href="@{/resources/static/img/favicon.ico}">
    <link rel="stylesheet" href="/resources/static/css/bootstrap.min.css"
          th:href="@{/resources/static/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet" href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <title>Products</title>
</head>

<body>

<div th:insert="product_fragments :: product_index_navbar"></div>

<div th:if="${view} eq ''">
    <div th:insert="product_fragments :: product_index_list"></div>
</div>

<div th:if="${view} eq 'list'">
    <div th:insert="product_fragments :: product_index_list"></div>
</div>

<div th:if="${view} eq 'grid'">
    <div th:insert="product_fragments :: product_index_grid"></div>
</div>

<script th:src="@{/resources/static/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>